@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.header {
  position: absolute;
  padding: 3rem;
}

.logo {
  font-size: 3rem;
  color: white;
}

.dg.a {
    position: absolute;
    left: calc(100% - 245px);
}
